@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap');

:root {
  --clr-bg: #1a2a33;
  --clr-element: #1f3641;
  --clr-element-lighter: hsl(199, 35%, 25%);
  --clr-element-shadow: #10212a;
  --clr-text: #a8bfc9;
  --clr-text-light: #a8bfc980;

  --clr-arrow-line: #0000009e;
  --clr-arrow-head: #000000d8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--clr-bg);
  color: var(--clr-text);
  font-size: 16px;
}

.opacity-hide {
  opacity: 0;
}

.button {
  font-family: inherit;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  color: inherit;
  padding: 15px 10px;
  border-radius: 10px;
  background-color: #31c3bd;
  box-shadow: 0 5px 0 #118c87;
  color: black;
  font-weight: bold;
  letter-spacing: 1.25px;
  text-align: center;
  cursor: pointer;

  &:hover {
    filter: brightness(115%);
  }

  &:active {
    transform: translateY(5px);
    box-shadow: none;
  }
}
